/* Reset issue where padding isn't included in dimensions of an element */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #dbd9d9;
    margin: 0;
}

.inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

header {
    background: lightblue;
    padding: 1em 0;
    
}

.header__logo {
    font-size: 2em;
    font-family: 'Cookie', sans-serif;
}

.button {
    color: #4090db;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: .5em 1em;
}

/* Profile Area Styles */

.profile_image {
    border: 4px solid purple;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.button--blue {
    color: orangered;
    text-decoration: white; 
    border-color: white;
    background-color: black;
    border-color:1px solid #4090db
   /* border-radius: 4px; */
    
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

/*.profile {}*/